<div class="row-fluid">
  <div class="span12">
  	<div class="hero-unit">
  		<h1>BeerHub</h1>
  		<p>The place to find and share homebrew recipes</p>
  		<p>
  			<a class="btn btn-primary btn-large">
  				Learn more
  			</a>
  		</p>
  	</div>
  </div>
</div>